@import url('https://fonts.googleapis.com/css?family=Bungee');

html, body {
    padding: 0;
    margin: 0;
    height: auto !important;
    font-family: 'Bungee', cursive;
}

#header {
    padding: 30px 0;
    text-align: center;
    background-color: rgb(249, 237, 105);

    h1 {
        color: rgb(184, 59, 94);
        font-size: 3em;
        font-weight: bold;
        font-family: 'Bungee', cursive !important;
    }
}

#todo-list-container {

    form {
        display: table;
        margin-top: 100px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (max-width: 335px) {
            button {
                padding-left: 0.9em;
                padding-right: 0.9em;
            }
        }
    }

    #todo-list {
        margin: 0 auto;
        width: 100%;
        max-width: 700px;

        .item {
            margin: 5px;
            border-bottom: 1px solid rgb(222, 222, 222);

            &:hover {
                cursor: pointer;
            }
        }

        .item:last-child {
            border-bottom: none;
        }
    }
}
